<mat-toolbar color="primary" class="app_toolbar">
  <button *ngIf="showLogout" (click)="sidenav.toggle()" mat-icon-button>
    <mat-icon>menu</mat-icon>
  </button>
  <span [routerLink]="homeLink" class="app_name">Jcc App</span>
  <span class="menu_spacer"></span>
  <button *ngIf="showLogout" (click)="logout()" mat-icon-button>
    <mat-icon>logout</mat-icon>
  </button>
</mat-toolbar>

<mat-sidenav-container class="sidenav_container" (backdropClick)="sidenav.close()">
  <mat-sidenav #sidenav class="sidenav">
    <mat-list>
      <mat-list-item *ngFor="let menuItem of menuItems$ | async" class="menu-item" (click)="navigateTo(menuItem.link)">
        <mat-icon mat-list-icon>{{ menuItem.icon }}</mat-icon>
        <div mat-line>{{menuItem.text}}</div>
      </mat-list-item>
    </mat-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div class="sidenav_content" role="main">
      <!-- Resources -->
      <div class="page_container">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
