.column {
  font-weight: bold;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.table-pagination-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

table {
  width: 100%;
}
