<div *ngIf="child">
  <!-- <h1>{{ child.name | uppercase }} - {{ child.age }}</h1> -->

  <div>
    <form class="example-form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <h2>Criança</h2>
      <div formGroupName="child">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Idade</mat-label>
                <input matInput formControlName="age" />
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tamanho roupa</mat-label>
                <input matInput formControlName="clothesSize" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tamanho calçado</mat-label>
                <input matInput formControlName="shoeSize" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>

      <h2>Família</h2>
      <div formGroupName="family">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Identificação</mat-label>
                <input matInput formControlName="id" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Responsável</mat-label>
                <input matInput formControlName="responsible" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Telefone</mat-label>
            <input matInput formControlName="phone" />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Endereço</mat-label>
            <textarea matInput formControlName="address"></textarea>
          </mat-form-field>
        </p>
      </div>

      <h2>Padrinho(a)</h2>
      <div formGroupName="godParent">
        <div class="checkbox-container">
          <mat-checkbox formControlName="clothesSelected">Roupa</mat-checkbox>
          <mat-checkbox formControlName="shoeSelected">Calçado</mat-checkbox>
          <mat-checkbox formControlName="giftSelected">Presente</mat-checkbox>
        </div>

        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="phone" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>

      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!formGroup.valid"
      >
        Adicionar
      </button>
    </form>
  </div>

  <div class="table-pagination-container mat-elevation-z8">
    <div class="example-container">
      <mat-table [dataSource]="godParents">
        <!-- Clothes -->
        <ng-container matColumnDef="clothes">
          <mat-header-cell *matHeaderCellDef>Roupa?</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox
              disabled="true"
              [checked]="element.isClothesSelected"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Shoes -->
        <ng-container matColumnDef="shoes">
          <mat-header-cell *matHeaderCellDef>Calçado?</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox
              disabled="true"
              [checked]="element.isShoeSelected"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Gifts -->
        <ng-container matColumnDef="gift">
          <mat-header-cell *matHeaderCellDef>Presente?</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox
              disabled="true"
              [checked]="element.isGiftSelected"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.name }}</mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
          <mat-cell *matCellDef="let element">{{ element.phone }}</mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button>excluir</button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </div>
  </div>
</div>
