.child-form-container {
  margin-bottom: 24px;
  box-sizing: border-box;
}

.column {
  font-weight: bold;
}

.example-form {
  min-width: 150px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 8px;
}

.table-pagination-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

table {
  width: 100%;
}

.form-actions {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 8px;
  padding-bottom: 16px;
}

.fab-button-container {
  padding-top: 16px;
  display: flex;
  justify-content: flex-end;
}
