<div *ngIf="child" class="child-form-container">
  <div>
    <form class="example-form" [formGroup]="childFormGroup">
      <h2>Criança</h2>
      <div formGroupName="child">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="name" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Idade</mat-label>
                <input matInput formControlName="age" />
              </mat-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tamanho roupa</mat-label>
                <input matInput formControlName="clothesSize" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Tamanho calçado</mat-label>
                <input matInput formControlName="shoeSize" />
              </mat-form-field>
            </td>
          </tr>
        </table>
      </div>

      <h2>Família</h2>
      <div formGroupName="family">
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Identificação</mat-label>
                <input matInput formControlName="id" />
              </mat-form-field>
            </td>
            <td>
              <mat-form-field class="example-full-width" appearance="fill">
                <mat-label>Telefone</mat-label>
                <input matInput formControlName="phone" />
              </mat-form-field>
            </td>
          </tr>
        </table>

        <p>
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Responsável</mat-label>
            <input matInput formControlName="responsible" />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Endereço</mat-label>
            <textarea matInput formControlName="address"></textarea>
          </mat-form-field>
        </p>
      </div>
    </form>

    <form
      class="example-form"
      [formGroup]="godParentsFormGroup"
      (ngSubmit)="onSubmit($event)"
    >
      <h2>Padrinho/Madrinha</h2>
      <div>
        <div class="checkbox-container">
          <mat-checkbox formControlName="clothesSelected" id="clothes-checkbox"
            >Roupa</mat-checkbox
          >
          <mat-checkbox formControlName="shoeSelected" id="shoes-checkbox"
            >Calçado</mat-checkbox
          >
          <mat-checkbox formControlName="giftSelected" id="gift-checkbox"
            >Presente</mat-checkbox
          >
        </div>

        <div>
          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Nome</mat-label>
            <input matInput formControlName="name" id="godParentName" />
          </mat-form-field>

          <mat-form-field class="example-full-width" appearance="outline">
            <mat-label>Telefone</mat-label>
            <input
              matInput
              formControlName="phone"
              id="godParentPhone"
              type="tel"
            />
          </mat-form-field>
        </div>
      </div>

      <div class="form-actions">
        <button
          mat-raised-button
          color="default"
          type="button"
          [disabled]="!godParentsFormGroup.dirty"
          (click)="cancelGodParentAction()"
        >
          Cancelar
        </button>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!godParentsFormGroup.valid"
        >
          {{ godParentsSubmitButtonTitle }}
        </button>
      </div>
    </form>
  </div>

  <div class="table-pagination-container mat-elevation-z8">
    <div class="example-container">
      <mat-table [dataSource]="godParents">
        <!-- Clothes -->
        <ng-container matColumnDef="clothes">
          <mat-header-cell *matHeaderCellDef>Roupa?</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox
              disabled="true"
              [checked]="element.godParent.isClothesSelected"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Shoes -->
        <ng-container matColumnDef="shoes">
          <mat-header-cell *matHeaderCellDef>Calçado?</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox
              disabled="true"
              [checked]="element.godParent.isShoeSelected"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Gifts -->
        <ng-container matColumnDef="gift">
          <mat-header-cell *matHeaderCellDef>Presente?</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <mat-checkbox
              disabled="true"
              [checked]="element.godParent.isGiftSelected"
            ></mat-checkbox>
          </mat-cell>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef>Nome</mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.godParent.name
          }}</mat-cell>
        </ng-container>

        <!-- Phone Column -->
        <ng-container matColumnDef="phone">
          <mat-header-cell *matHeaderCellDef>Telefone</mat-header-cell>
          <mat-cell *matCellDef="let element">{{
            element.godParent.phone
          }}</mat-cell>
        </ng-container>

        <!-- Actions Column -->
        <ng-container matColumnDef="actions">
          <mat-header-cell *matHeaderCellDef>&nbsp;</mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="Excluir padrinho ou madrinha"
              (click)="deleteGodParentFromTable(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row
          *matRowDef="let row; columns: displayedColumns"
          (click)="onRowClicked(row)"
        ></mat-row>
      </mat-table>
    </div>
  </div>

  <div class="fab-button-container">
    <button
      id="save-info"
      mat-fab
      aria-label="Salvar informações"
      type="button"
      (click)="onClickSaveChildGodParents()"
    >
      <mat-icon>favorite</mat-icon>
    </button>
  </div>
</div>
