.child-form-container {
  margin-bottom: 24px;
  box-sizing: border-box;
}

.child-detail-form {
  width: 100%;
}

.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}

.table-pagination-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

.god-parents-table_container {
  overflow: auto;
}

.mat-header-cell,
.mat-cell {
  min-width: 100px;
  box-sizing: border-box;
}

.mat-header-cell:nth-child(1),
.mat-cell:nth-child(1) {
  max-width: 80px;
}

.form-actions {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 8px;
  padding-bottom: 16px;
}
