<div class="back-button-container">
  <button
    mat-raised-button
    color="accent"
    type="button"
    (click)="backToListUser()"
  >
    <mat-icon>arrow_back</mat-icon>
  </button>
</div>

<form
  class="example-form"
  [formGroup]="accountFormGroup"
  (ngSubmit)="onCreateUser()"
>
  <h2>Usuário</h2>
  <div>
    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Login</mat-label>
        <input matInput formControlName="login" id="account_login" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput formControlName="name" id="account_name" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Senha</mat-label>
        <input matInput formControlName="password" id="account_password" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field class="full-width" appearance="outline">
        <mat-label>Tipo Usuário</mat-label>
        <mat-select formControlName="userType" name="Tipo Usuário">
          <mat-option>&nbsp;</mat-option>
          <mat-option *ngFor="let type of userTypes$ | async" [value]="type.id">
            {{ type.description }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <div class="form-actions">
    <button mat-raised-button color="default" type="button" (click)="cancel()">
      Cancelar
    </button>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!accountFormGroup.valid"
    >
      Criar
    </button>
  </div>
</form>
