.back-button-container {
  margin-bottom: 16px;
}

.example-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form-actions {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 8px;
  padding-bottom: 16px;
}

.example-radio-group {
  display: flex;
  flex-direction: column;
  margin: 15px 0;
}

.example-radio-button {
  margin: 5px;
}

.example-full-width {
  width: 100%;
}
