.back-button-container {
  margin-bottom: 16px;
}

.form-container {
  margin: 24px 0;
  box-sizing: border-box;

  .wrapper {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
  }
}

.full-width {
  width: 100%;
}

.form-actions {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  gap: 8px;
  padding-bottom: 16px;
}

td {
  padding-right: 8px;
}

.table-pagination-container {
  margin-top: 8px;
  margin-bottom: 8px;
}

.god-parents-table_container {
  overflow: auto;
}

.mat-header-cell,
.mat-cell {
  min-width: 100px;
  box-sizing: border-box;
}

.mat-header-cell:nth-child(3),
.mat-cell:nth-child(3) {
  max-width: 80px;
}

.children_table {
  .mat-header-cell:nth-child(6),
  .mat-cell:nth-child(6) {
    max-width: 80px;
  }
}
